AOAI_API_BASE = "https://xxxxxxxxxxxxxx.openai.azure.com/"
AOAI_API_KEY = ""
AOAI_GPT4O_MINI_MODEL = ""
AOAI_TTS_MODEL = "" 
AOAI_WHISPER_MODEL = ""
COSMOS_ENDPOINT = "https://xxxxxxxx.documents.azure.com:443/"
COSMOS_KEY = ""
COSMOS_DATABASE = ""
BING_CUSTOM_SEARCH_API_ENDPOINT = "https://api.bing.microsoft.com/v7.0/custom/search"
BING_CUSTOM_SEARCH_API_KEY = ""
BING_CUSTOM_CONFIG_ID = ""